<div class="list" ng-controller='TaskDetailsController'>
	 <span style="float:right; margin-right: 20px;"><a href="#/editTask/{{task['data']._id}}" class="button success">Edit Task</a></span>
	<div style="text-align: left;margin-left:20px "><h1>Task Details</h1></div>
	<div class="row" style="text-align: left;">
		<div class="large-6 columns">
			<h3>Name:</h3>
		</div>

		<div class="large-6 columns">
		 	<h4>{{task['data'].name}}</h4>
		</div>
		<hr>
	</div>
	<div class="row" style="text-align: left;">
		<div class="large-6 columns">
			<h3>Description:</h3>
		</div>

		<div class="large-6 columns">
		 	<h6>{{task['data'].description}}</h6>
		</div>
		<hr>
	</div>
	<div class="row" style="text-align: left;">
		<div class="large-6 columns">
			<h3>Deadline:</h3>
		</div>

		<div class="large-6 columns">
		 	<h4>{{date}}</h4>
		</div>
		<hr>
	</div>
	<div class="row" style="text-align: left;">
		<div class="large-6 columns">
			<h3>Assigned To:</h3>
		</div>

		<div class="large-6 columns">
		 	<h4>{{task['data'].assignedUserName}}</h4>
		</div>
		<hr>
	</div>
</div>